[package]
name = "foreignc"
version = "0.1.0"
authors = ["Martin Pinholt <mapi@itu.dk>"]
edition = "2018"


[dependencies]
libc = "0.2.65"
foreignc_derive = {path = "../foreignc_derive"}
ffi_template = {path = "../ffi-template"}

[features]
default = []
template = ["foreignc_derive/template"]
