from foreignc import *

class {{ class_name }}(BaseLib):
    def __init__(self, src: str):
        super().__init__('{{ class_name }}', src)
        {%- for abi in abis %}
        self.{{ abi.name }} = self.lib.{{ abi.name }}
        self.{{ abi.name }}.argtypes = (
            {%- for arg in abi.inputs -%}
                {{ arg }}
                {%- if not loop.last -%}, {% endif %}
            {%- endfor -%}
        )
        {% if abi.output -%}
            self.{{ abi.name }}.restypes = {{ abi.output | replace(from="--class_name--", to=class_name) }}
        {%- else -%}
            self.{{ abi.name }}.restypes = None
        {%- endif %}
        {% endfor %}

{% for struct in structs %}
{%- if not struct.destructor -%}
    {% set class = "Raw" %}
{%- elif struct.destructor == "free_string" -%}
    {% set class = "Json" %}
{%- else -%}
    {% set class = "Box" %}
{%- endif %}
class {{ struct.self_ty }}({{ class }}):
    def __init__(self, value):
        super().__init__(value 
            {%- if class != "Json" -%}, {{ class_name }}.{{ struct.destructor }}, '{{ class_name }}' {%- endif -%} 
        )
{% endfor %}