[package]
name = "template_test"
version = "0.1.0"
authors = ["Martin Pinholt <mapi@itu.dk>"]
edition = "2018"

[dependencies]
foreignc = {path = "../../foreignc", features = ["template"]}
lazy_static = "1.4.0"

serde = { version = "1.0.102", features = ["derive"] }
serde_json = "1.0.41"

[lib]
crate_type = ["staticlib", "cdylib", "rlib"]